<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478717586065-86cmceuolef2utm492r679q5sk2jul44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478717586065-86cmceuolef2utm492r679q5sk2jul44</string>
	<key>API_KEY</key>
	<string>AIzaSyD6M20MvlOQCdrzkkwfWOzdUlbrcCp6sGw</string>
	<key>GCM_SENDER_ID</key>
	<string>478717586065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification</string>
	<key>PROJECT_ID</key>
	<string>shatarko</string>
	<key>STORAGE_BUCKET</key>
	<string>shatarko.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478717586065:ios:02ddbdd6a4828085e3ed30</string>
	<key>DATABASE_URL</key>
	<string>https://shatarko-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>